<div class="intro section">
  <div class="row">
    <div class="small-12 medium-7 columns">
      <h2 class="heading2"><%== translated_attribute(current_component.name) %></h2>
      <%== translated_attribute component_settings.intro %>
    </div>
  </div>
</div>
