/* css for decidim_forms_locations */

.help-text-map{
  margin-top: -1.5rem;
  font-size: 0.8125rem;
  font-style: italic;
  color: #202734;
}

.answer-option-map {
  width: 100%;
  height: 75%;
}

.location-option-define {
  position: relative;
  bottom: 45px;
}

.questionnaire-question-default-map-position {
  display: flex;
}

.default-map-position-child {
  margin-right: 15px;
}

.select-position {
  position: relative;
  width: 13%;
}

.default-position-button {
  position: relative;
  top: 32px;
}

.survey-map__container{
  [data-decidim-map] {
    @apply aspect-[2/1];
  }
}
